html {
  scroll-behavior: smooth;
}


@media (max-width: 767px){
#navbar {
height: 10%;
}

#navbar ul {
flex-direction: column;
}

#navbar li {
margin: 10px 0;
}

#welcome-section h1{
font-size: 1.2em;
}

#welcome-section h3{
font-size: 1em;
}

section:not(#welcome-section){
padding-top: 10%;
}
}

#navbar {
display: flex;
justify-content: center;
align-items: center;
background-color: grey;
color: black;
position: fixed;
top: 0;
left: 0;
height: 8%;
width: 100%;
}

#navbar ul {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
list-style-type: none;
margin: 0;
padding: 0;
}

#navbar li {
margin: 0 20px;
}

#navbar li:first-child {
margin-left: 0;
}

#navbar li:last-child {
margin-right: 0;
}

#navbar a {
text-decoration: none;
color: black;
}

#welcome-section {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

#welcome-section h1{
text-align:center;
font-size:1.6em
}

#welcome-section h3{
text-align: center;
font-size: 1.2em;
color: #333;
}

section {
height: 100vh;
}

section:not(#welcome-section){
padding-top:8%;
}

body {
background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
background-repeat: no-repeat;
background-size: cover;
}
}
@media screen and (min-width:768px){

 #navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 8%;
  width: 100%;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin: 0 20px;
}

#navbar li:first-child {
  margin-left: 0;
}

#navbar li:last-child {
  margin-right: 0;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#welcome-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#welcome-section h1{
  text-align:center;
  font-size:1.6em
}


#welcome-section h3{
  text-align: center;
  font-size: 1.2em;
  color: #333;
}

section {
  height: 100vh;
}

section:not(#welcome-section){
  padding-top:8%;
}

body {
  background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
}
